.footer {
    background-color: rgb(14, 14, 48);
    color: #ffffff;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-wrap:wrap;
    margin-left: -16px;
    margin-right: -8px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    
}

.footer-logo, .footer-nav, .footer-social, .footer-contact, .footer-newsletter {
    flex: 1 1 200px;
    margin: 10px;
    margin-right: 4em;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
    
    .footer-logo, .footer-nav, .footer-social, .footer-contact, .footer-newsletter {
        margin: 10px 0;
    }
}
ul li {
    list-style: none;
}
.footer-newsletter a{
    text-decoration: none;
    color: rgb(14, 14, 48);
    background-color: white;
}