<footer class="footer">
    <div class="footer-container">
        <div class="footer-logo">
            <img src="logo.png" alt="Brand Logo">
            <p>&copy; 2025 Brand Name. All rights reserved.</p>
            <p>created by Njogu Alex.</p>
        </div>
        <div class="footer-nav">
            <h4>Quick Links</h4>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="footer-social">
            <h4>Follow me</h4>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Instagram</a></li>
            </ul>
        </div>
        <div class="footer-contact">
            <h4>Contact me</h4>
            <p>Email: njogualex60@gmail.com</p>
            <p>Phone: +254794546763</p>
        </div>
        <div class="footer-newsletter">
            <h4>get my Resume</h4>
            <button> <a href="/src/assets/Alex njogu cv.docx" download>Download MyCv</a></button>
        </div>
    </div>
</footer>
