*{
    
    box-sizing: border-box;
    margin-top: 5%;
}
.footer{
    border-radius: 10px 10px 10px 10px ;
    display: flex;
    left: 0%;
    border: 1px solidblue;
    top: 0%;
    left: 0%;
    align-items: center;
    width: 100%;
    padding: 20px 10%;
    justify-content: space-between;
    z-index: 00;
    box-shadow: 5px 0px 20px 0px;
}
.name li{
    list-style-type: none;
    -webkit-text-stroke: 1px rgb(20, 20, 189) ;
    color: transparent;
    font-size: larger;
    font-size: 50px;
}
.socials h3{
    color: rgb(20, 20, 189);
    font-size: 20px;
}
.socials li{
    list-style-type: none;
    color: rgb(20, 20, 189);
    font-family: 'Times New Roman', Times, serif;
    transition: 1s;
}
.socials li:hover{
    text-transform: uppercase;
    color: white;
    background-color: rgb(20, 20, 189);
    height: 6vh;
    position: centre;
    text-align: center;
    margin-top: 10%;
}
.stacks h3{
    color: rgb(20, 20, 189);
}
.stacks li{
    color: rgb(20, 20, 189);
    list-style-type: none;
    text-align: centre;
}
button .btns{
    background-color: red;
}