<section class="footer">
    <div class="name">
        <li>A.</li>
        <li>L.</li>
        <li>E.</li>
        <li>X.</li>
    </div> 
    
    <aside class="socials">
        <h3>SOCIALS</h3>
        <li>Github</li>
        <li>Instagram</li>
        <li>Twitter</li>
        <li>Linked in</li>
    </aside>

    <div class="stacks">
        <h3>TECHNOLOGIES</h3>
        <li>javascript</li>
        <li>html css</li>
        <li>angular</li>
        <li>react</li>
    </div>
    <div class="btns">
        <button>download my cv</button>
    </div>
</section>
