<h2>MY PROJECTS</h2>
<section class="card-holder">
    <div class="card-one">
        <h2>Portfolio Website</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo tenetur hic architecto. Ea ad fuga atque eaque ut rem autem sunt libero debitis. Nemo ipsam, provident aliquam nihil ducimus officiis!</p>
        <div class="mybutton">
            <button class="view">view more</button>
        </div>    
    </div>
    <div class="card-two">
        <h2>Vaccination App</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, dignissimos deleniti at accusamus exercitationem recusandae facere similique, deserunt assumenda, dicta ratione. Explicabo eligendi nihil quasi possimus. Dolorem eius corporis impedit?</p>
        <div class="mybutton">
            <button class="view">view more</button>
        </div>
    </div>
    <div class="card-three">
        <h2>Clinis Profiles</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, mollitia eum fugit, repellendus quam dolorem, provident qui nostrum obcaecati non deserunt neque? Ex vel animi placeat a qui ratione sint.</p>
        <div class="mybutton">
            <button class="view">view more</button>
        </div>
    </div>
</section>
<hr>