<h2 class="projects">MY PROJECTS</h2>
<section class="card-holder">
    <div class="card-one">
        <h2>Portfolio Websites</h2>
        <p>I design and customise portfolio websites according to your preference and liking. With intergration to your socials and contacts. Now with Search Engine optimisation (S.E.O) to boost your availability for the services you offer.</p>
        <div class="mybutton">
            <button class="view">view more</button>
        </div>    
    </div>
    <div class="card-two">
        <h2>Vaccination App</h2>
        <p>As a beliver in prevention is better than cure, I created this app to help medical fercilities to keep record and track oftheir vaccination patience and follow up their well being according to their history .</p>
        <div class="mybutton">
            <button class="view">view more</button>
        </div>
    </div>
    <div class="card-three">
        <h2>Clinics Profiles</h2>
        <p>This application was created for the small local medical fercilities to help them move in the digital space in the medical industry. With a simple  user interface medical personels can easly track a patient's recovery and medical history by acces their files and previous treatments. </p>
        <div class="mybutton">
            <button class="view">view more</button>
        </div>
    </div>
</section>
<hr>