*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: auto;
    align-items: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2rem;
    background: linear-gradient(0deg, #1973D1, #010280);
    
}
.card-one{
    width:20em;
    min-height: 18em;
    
}
.card-one p{
    color: white;
    line-height: 25px;
    font-family: 'Times New Roman', Times, serif;
}
.card-one h2{
    color: transparent;
    -webkit-text-stroke: 1px white;
}
.card-two{
    width:20em;
    min-height: 18em;
    
}
.card-two p{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.card-three{
    width:20em;
    min-height: 18em;
    
}
.card-three p{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.mybutton .view{
    justify-content: center;
    align-items: centre;
    margin-left: 5vw;
    width:10vw;
    height: 5vh;
    border: none;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}