<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<section class="landing-page">
  <div class="home-intro">
    
    <h1>Hi I'm Alex Njogu</h1>
    
    <h3>A frontend web Developer</h3>
    <p> 
      Hello! I'm Njogu Alex, a passionate tech enthusiast with a love for creative technology. I specialize in webdevelopment and frontend development at large, creating websites that are both impactful and innovative. With a keen eye for detail and a dedication to continuous learning, I strive to bring creativity and functionality together in every project.
      Explore my portfolio to see my work, and feel free to connect—I’d love to collaborate
    </p>
    <div class="btn-box">
      <a href="">contact</a>
      <a href="">get a quote</a>
    </div>
  </div>
  <br>
  <img src="../assets/images/Aleki.jpg" alt="my-image" class="aleki">
</section>
